@model WeatherApiResponse
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />

    @if (Model != null && Model.CurrentObservation != null && Model.CurrentObservation.Condition != null)
    {
        <h3 class="alert alert-success">İstanbul Hava Durumu : @Model.CurrentObservation.CelsiusTemperature °C</h3>
    }
    else
    {
        <h3 class="alert alert-success">Hava durumu bilgisi alınamadı.</h3>
    }
</div>